doctype html
html(lang='en')
  head
    title KIWI Home
    include includes/css_link.pug

  body.goto-here
    include includes/nav.pug
    // TITLE 
    .hero-wrap.hero-bread(style="background-image: url('images/kesunset.png');")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/',style='color:white;') Home
            h12.mb-0.bread(,style='color:white;') The One Stop Solution for All KEVIIANS
    // CONTENT
    section#home-section.hero
      .container
        .row.justify-content-center.mb-3.pb-3
          .col-lg-12.text.ftco-animate
            .pt-3.mt-4
              h5.mb-5 Announcements
              ul.comment-list
                
                li.comment
                  .vcard.bio
                    img(src='images/ironman.png', alt='Image placeholder')
                  .comment-body
                    h8 #{row_announcement_1.name}
                    .meta #{row_announcement_1.date} AT #{row_announcement_1.time}
                    p #{row_announcement_1.announcement}
                li.comment
                  .vcard.bio
                    img(src='images/captainamerica.png', alt='Image placeholder')
                  .comment-body
                    h8 #{row_announcement_2.name}
                    .meta #{row_announcement_2.date} AT #{row_announcement_2.time}
                    p #{row_announcement_2.announcement}
                li.comment
                  .vcard.bio
                    img(src='images/thor.png', alt='Image placeholder')
                  .comment-body
                    h8 #{row_announcement_3.name}
                    .meta #{row_announcement_3.date} AT #{row_announcement_3.time}
                    p #{row_announcement_3.announcement}

                .tag-widget.post-tag-container.mb-5.mt-5
                  .tagcloud
                    a.tag-cloud-link(href='/announcement') &nbsp;&nbsp;&nbsp;&nbsp;Read More&nbsp;&nbsp;&nbsp;&nbsp;
              // END comment-list
    
    section.ftco-section.bg-light
      .container
        .row.justify-content-center.mb-3.pb-3
          .col-md-12.heading-section.text-center.ftco-animate
            h2.mb-4 Upcoming Events
            p
              | Show some support to the committees who strive to make your hall life more vibrant!
      .container
        .row
          each row_eventposter in rows_eventposter
            .col-sm.col-md-1.col-lg.ftco-animate
              .product
                //a.img-prod
                //a.icon.popup-vimeo.d-flex.justify-content-center.align-items-center
                a
                  img.img-fluid(src=`${row_eventposter.image}`, alt='Image placeholder')
                  .overlay
                .text.py-3.px-3
                  .d-flex
                    .pricing
                      p.price
                        span.price-sale #{row_eventposter.title}
                      p

                  h3 #{row_eventposter.date}
                  h3 #{row_eventposter.time}
                  a.buy-now.text-center.py-2.mr-1(href=`${row_eventposter.rsvp}`)
                    span
                      | - RSVP -  

    //END of upcoming events
 
    section#section-counter.ftco-section.ftco-counter.img(style='background-image: url(images/kewallpaper.jpg);')
      .container
        .row.justify-content-center.py-5
          .col-md-10
            .row
              .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
                .block-18.text-center
                  .text
                    strong.number(data-number='468',style='color:white;') 0
                    span(style='color:white;')
                      strong Residents
              .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
                .block-18.text-center
                  .text
                    strong.number(data-number='5',style='color:white;') 0
                    span(style='color:white;')
                      strong Blocks
              .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
                .block-18.text-center
                  .text
                    strong.number(data-number='66',style='color:white;') 0
                    span(style='color:white;')
                      strong CCAS
              .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
                .block-18.text-center
                  .text
                    strong.number(style='color:white;') 1
                    span(style='color:white;')
                      strong KE
    
    // FOOTER
    include includes/footer.pug
