doctype html
html(lang='en')
  head
    title KIWI KEIPS
    include includes/css_link.pug
    
  body.goto-here
    include includes/nav.pug
    // TITLE 
    .hero-wrap.hero-bread(style="background-image: url('images/bg_6.jpg');")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/') Home
              span KEIPS
            h1.mb-0.bread KEIPS

    // CONTENT
    section.ftco-section.contact-section.bg-light
      .container
        .row.d-flex.justify-content-center.mb-5.contact-info(style='margin-top: -240px;')
          .col-lg-8.text.ftco-animate
            form.search-form(action='/keips', method='post')
                .form-group
                    input.icon.ion-ios-search(type='submit', style = 'margin-top: -17px; opacity: 1',  method = 'post', action = '/keips')
                    span.icon.ion-ios-search(style = 'margin-top: -17px',  method = 'post', action = '/keips')
                    input.form-control(name = 'matnet', id = 'matnet', type='text', placeholder='KEY IN YOUR MATNET (E.G. 4567X34567)')
                    span(style = 'color:white;font-size:15px;') Last 5 digits of Matric Number + Last 5 digits of NUSNET ID (e.g. A1234567X + E1234567 -> 4567X34567)
      .container
        .row.d-flex.justify-content-center.mb-5.contact-info
          .col.col-lg-8.col-md-6.mt-5.cart-wrap.ftco-animate
              li At least 1 contrasting CCA except for residents who only stayed in 1 semester
              li OSA points is calculated by your total bonus points and the highest combination of your top 4 CCAs, where each pillar has a max cap at 45 points.
                span For example, if you have 3 sports CCAs of 16 points each, and 2 culture CCAs of 15 points each. 
                span total will be calculated as (16 + 16) + (15 + 15) = 32 (2 sports) + 30 (2 culture) = 62 instead of (16 + 16 + 16) + (15) = 45 (3 sports, capped at 45) + 15 (1 culture) = 60.
                span Percentile refers to your OSA points standing against every other resident.
              li For semester 2 residents, contrasting CCAs are not needed and the 45 points max cap for each pillar is removed as well.
              li Room Draw points is calculated by your total bonus points and the sum of all your CCA points (without any cap), as well as 50% of your previous year's room draw points (if any). Rank determines your priority in choosing a room next year if you are eligible to stay.
      .container
        .row.justify-content-center.ftco-animate
            h5 #{row_keips.name}
        .row.justify-content-center
          .col.col-lg-5.col-md-6.mt-5.cart-wrap.ftco-animate
            .cart-total.mb-3
              h3 KEIPS Summary
              p.d-flex
                span OSA Points
                span #{row_keips.osa}
              p.d-flex
                span OSA Percentile
                span #{row_keips.osapercentile}%
              p.d-flex
                span Room Draw Points
                span #{row_keips.roomdraw}
              p.d-flex
                span Room Draw Ranking
                span #{row_keips.roomdrawrank}
              hr
              p.d-flex
                span Contrasting 
                span #{row_keips.contrasting}
              p.d-flex
                span Semester stayed 
                span #{row_keips.semesterstay}
              hr
              p.d-flex.total-price
                span Fullfilled Criteria ? 
                span #{row_keips.criteria}

    section.ftco-section.ftco-cart
      //table for top 4 ccas
      .container
        .row 
          .col-md-12.ftco-animate
            h5 Top 4 CCAs (with contrasting) 

        .row
          .col-md-12.ftco-animate
              table(width = '100%', frame ='box')
                font(size = '50', color = 'white')
                    tr.text-center(bgcolor = '#800000')
                        th(style = "color:white;") CCA 
                        th(style = "color:white;") Category
                        th(style = "color:white;") Attendance 
                        th(style = "color:white;") Performance
                        th(style = "color:white;") Outstanding
                        th(style = "color:white;") Total
                tbody
                  each cca in row_keips.top4cca.split("|")
                    tr.text-center
                      td.product-remove(width = "32%")
                        span #{cca.split(".")[0]}
                      td.product-remove(width = "20%")
                        span #{cca.split(".")[1]}
                      td.product-remove(width = "12%")
                        span #{cca.split(".")[2]}
                      td.product-remove(width = "12%")
                        span #{cca.split(".")[3]}
                      td.product-remove(width = "12%")
                        span #{cca.split(".")[4]}
                      td.product-remove(width = "12%")
                        span #{cca.split(".")[5]}
                  // END TR

      //table for all cca
      <br>
      <br>
      <br>  
      .container
        .row 
          .col-md-12.ftco-animate
            h5 All CCAs

        .row
          .col-md-12.ftco-animate
               table(width = '100%', frame ='box')
                font(size = '50', color = 'white')
                    tr.text-center(bgcolor = '#800000')
                        th(style = "color:white;") CCA 
                        th(style = "color:white;") Category
                        th(style = "color:white;") Attendance 
                        th(style = "color:white;") Performance
                        th(style = "color:white;") Outstanding
                        th(style = "color:white;") Total
                tbody
                  each cca in row_keips.allcca.split("|")
                    tr.text-center
                      td.product-remove(width = "32%")
                        span #{cca.split(".")[0]}
                      td.product-remove(width = "20%")
                        span #{cca.split(".")[1]}
                      td.product-remove(width = "12%")
                        span #{cca.split(".")[2]}
                      td.product-remove(width = "12%")
                        span #{cca.split(".")[3]}
                      td.product-remove(width = "12%")
                        span #{cca.split(".")[4]}
                      td.product-remove(width = "12%")
                        span #{cca.split(".")[5]}
                  // END TR

      //table for bonus
      <br>
      <br>
      <br>  
      .container
        .row 
          .col-md-12.ftco-animate
            h5 All CCAs

        .row
          .col-md-12.ftco-animate
              table(width = '100%', frame ='box')
                font(size = '50', color = 'white')
                    tr.text-center(bgcolor = '#800000')
                        th(style = "color:white;") CCA 
                        th(style = "color:white;") Description
                        th(style = "color:white;") Points
                tbody
                  each cca in row_keips.bonus.split("|")
                    tr.text-center
                      td.product-remove(width = "40%")
                        span #{cca.split(".")[0]}
                      td.product-remove(width = "45%")
                        span #{cca.split(".")[1]}
                      td.product-remove(width = "15%")
                        span #{cca.split(".")[2]}

                  // END TR

    // FOOTER
    include includes/footer.pug


iframe#dummyframe(width='0', height='0', border='0', name='dummyframe')
