doctype html
html(lang='en')
  head
    title MENU
    include includes/css_link.pug
    
    script.
        function myFunction(){
            var d = new Date();
            alert(d.getMonth());

            //- var input, filter, announcement, li, p, i, txtValue;
            
            //- input = document.getElementById("mySearch");
            //- filter = input.value.toUpperCase();
            //- if (filter.length == 0){
            //-     document.getElementById("searchresult").innerHTML = "";
            //-     return false;
            //- }

            //- var messagehtml ="<body><h5> Search result for '" + filter +"' : </h5>" ;
            //- announcement = document.getElementById("myAnnouncement");
            //- li = announcement.getElementsByTagName("li");

            //- for (i = 0; i < li.length; i++) {
            //-     h5 = li[i].getElementsByTagName("h5")[0];
            //-     h8 = li[i].getElementsByTagName("h8")[0];
            //-     p = li[i].getElementsByTagName("p")[0];

            //-     if (p) {
            //-         txtValue = p.textContent || p.innerText;

            //-         if (txtValue.toUpperCase().indexOf(filter) > -1) {
            //-             messagehtml += "<br><h5 style= 'color:rgb(143, 81, 81);font-size:15px;'>" + h5.innerText + ",&nbsp;&nbsp;&nbsp;&nbsp;" + h8.innerText +  "<\h5>";
            //-             messagehtml += "<p style='color:rgb(143, 81, 81);font-size:15px;'>" + txtValue + "</p>";
            //-         }
                 
            //-         // else {
            //-         //- li[i].style.display = "none";
            //-         //- }
            //-     }
            //-     //li[0].style.display = "none";
            //- }
            //- document.getElementById("searchresult").innerHTML = messagehtml;
            //- return false;
        };
  
  body.goto-here
    include includes/nav.pug
    // TITLE 
    .hero-wrap.hero-bread(style="background-image: url('images/bg_6.jpg');")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/') Home
              span Menu
            h1.mb-0.bread Menu of The Day


    section.ftco-section.contact-section.bg-light
      .container
        .row.d-flex.justify-content-center.mb-5.contact-info(style='margin-top: 0px;')
          .col.d-flex.text.ftco-animate
            .info.bg-white.p-4
              h5(style='color: black;')
                | Hungry? Do check up our Telegram Bot 
                a(href='http://t.me/HungryKEBot' style='color: red;') @HungryKEBot 
                |  too!          
        .row.d-flex.justify-content-center.mb-5.contact-info(style='margin-top: 30px;')
          .col.d-flex.text.ftco-animate
            .info.bg-white.p-4
                h3 Breakfast
                <br>
                p.ml-5 #{breakfast1}
                p.ml-5 #{breakfast2}
                p.ml-5 #{breakfast3}
                p.ml-5 #{breakfast4}
                p.ml-5 #{breakfast5}
        .row.d-flex.justify-content-center.mb-5.contact-info(style='margin-top:30px;')
          .col.d-flex.text.ftco-animate
            .info.bg-white.p-4           
                h3 Dinner 
                <br>
                h5.ml-5 Meat
                p.ml-5.pl-5 #{meat1}
                p.ml-5.pl-5 #{meat2}
                p.ml-5.pl-5 #{meat3}
                <br>
                h5.ml-5 Vegetable
                p.ml-5.pl-5 #{vege1}
                p.ml-5.pl-5 #{vege2}
                p.ml-5.pl-5 #{vege3}
                <br>
                h5.ml-5 Side Dishes
                p.ml-5.pl-5 #{side1}
                p.ml-5.pl-5 #{side2}
                p.ml-5.pl-5 #{side3}
                p.ml-5.pl-5 #{side4}
                <br>
                h5.ml-5 Special Dishes
                p.ml-5.pl-5 #{special1}
                p.ml-5.pl-5 #{special2}
                p.ml-5.pl-5 #{special3}
                <br>
                h5.ml-5 Fruit & Dessert
                p.ml-5.pl-5 #{fruitanddessert}
                <br>
                h5.ml-5 Soup
                p.ml-5.pl-5 #{soup}
                <br>


    //-   .container
    //-     .row.justify-content-center.mb-3.pb-3(style='margin-top: -75px;')
    //-       .col-lg-8.text.ftco-animate
    //-         .pt-5.mt-5
    //-           ul.comment-list(id='myAnnouncement')
    //-             each row_announcement in rows_announcement
    //-                 li.comment
    //-                     .vcard.bio
    //-                         img(src='images/msg.png', alt='Image placeholder')
    //-                     .comment-body
    //-                         h5 #{row_announcement.name}
    //-                         h8(style="color:rgb(188, 188, 188);font-size:15px;") #{row_announcement.date} AT #{row_announcement.time}
    //-                         p #{row_announcement.announcement}
    //-                         p

              // END comment-list

    // FOOTER
    include includes/footer.pug

iframe#dummyframe(width='0', height='0', border='0', name='dummyframe')
